.price{
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content:space-between;
  font-family: sans-serif;
}
.price button{
  background-color: black;
  color: white;
  width:7rem;
  font-size:1rem;
  height:2rem;
  border-radius:10px;
  font-family: sans-serif;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  -ms-border-radius:10px;
  -o-border-radius:10px;
  cursor: pointer;
}
.price p{
  color: rgb(99, 99, 99);
  font-size:10px;
}
.price div :first-child{
  color: rgb(0, 0, 0);
  font-size:1.5rem;
}
.hr{
  margin-top:5rem;
}
.tag button{
  padding:0.5rem;
  margin:0.5rem;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  
}

.title{
  margin-top: 0.5rem;
  font-family: sans-serif;
}
.logo{
  width:98%;
  height:30%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 1rem;
  
}
.logo img{
  border: 2px solid rgb(118, 119, 118);
  width: 4rem;
  height:4rem;
  padding: 5px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.logo p{
  border: 2px solid rgb(200, 200, 200);
  width: 5rem;
  height:2rem;
  padding: 5px;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  -o-border-radius:5px;
  color: rgb(102, 102, 102);
  cursor: pointer;
}
.cname{
  margin-top: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cname span{
  font-size:1rem;
  color: rgb(158, 158, 158);
  font-family:monospace;
}
.card{
  background-color: rgb(255, 255, 255);
  width: 23vw;
  min-height:26rem;
  margin:0.5rem;
  padding:1rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
.main{
  padding:2rem;
  min-height:100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
  background-color:rgb(228, 227, 227);
}

.navli{
  display: flex;
  list-style: none;
  padding: 2rem;
  margin: 2rem;
  font-size:3rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  align-items:center;
  justify-content:space-evenly;
}
.card p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
}